/*
Project Name: Relaxr Website
Client: Relaxr
Author: Nicholas A. Bosak
Developer @GA in Atlanta, GA
*/
@charset "UTF-8";

/* CSS Document */
/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-size: 24px;
  line-height: 1.4;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

/******************************************
/* LAYOUT
/*******************************************/

#container {
	width: 1000px;
	margin: 0 auto;
	background-color: #f0efef;
}

#left-content {
	float: left;
	width: 700px;
	padding: 5px 5px 5px 5px;
	margin: auto 0;
}

#right-content {
	float: right;
	width: 240px;
	margin: auto 0;
	padding: 5px 5px 5px 5px;
}

#left-content .placeholder, #right-content .placeholder {
	height: 400px;
	margin: 15px;
}

nav {
	color: #f9e42e;
	text-align: right;
	display: inline;
	font-family: 'Open Sans', sans-serif;
}

header {
	color: white;
	margin: auto 0;
	background-color: #033048;
}

footer {
	font-family: 'Open Sans', sans-serif;
	color: white;
	text-align: center;
	background-color: #121212;
}

header, footer, .content-container {
	margin: 15px;
}

footer, .content-container {
	clear: both;
	padding-top: 15px;
}

header .placeholder, footer .placerholder {
	height: 120px;
	width: 100%;
}

ul {
	text-align: right;
	margin: auto 0;
	padding: 10px 10px 30px 0;
	color: white;
}

li {
	display: inline;
	padding: 5px 10px 40px 0;
}

li a {
    color:#7B7A56;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

p {
	font-size: 24px;
}


.placeholder {
	background-color:  #f0efef;
	border: 1px solid gray;
}

.content-container {
	margin-bottom: 15px;
}

.clearfix:after {
	content:"";
	display: table;
	clear: both;
}

.post-title {
	font-size: 40px;
	text-align: right;
	font-family: 'Open Sans', sans-serif;
	
}

.read-more {
	font-size: 24px;
	text-align: right;
	font-family: 'Open Sans', sans-serif;
}

.side-text {
	font-size: 32px;
	font-family: 'Open Sans', sans-serif;
}

.categories {
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
}

aside {
  font-family: 'Open Sans', sans-serif;
  background: #f9e42e;
  padding: 30px;
  text-align: center
}

.button {
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  font-weight: 800;
  padding: 12px 0;
  width: 280px;
  font-size: 28px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.yellow {
  background: #f9e42e;
  color: #033048;
}
.blue {
  background: #033048;
  color: #fff;
  font-size: 24px;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	padding: 30px 0 0 50px;
}

footer p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}
