@charset "UTF-8";
/* CSS Document */

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body { 
	margin: 0 auto; 
}

.container {
  width: 960px;
  height: 50px;
  margin: 0 auto;
}

/******************************************
/* HEADER STYLES
/*******************************************/


header {
	height: 70px;
	background-color: #74080A;
	border-bottom: 1px solid #494949;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
header > h1 {
	margin-right: 30px;
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 30px;
	font-weight: 600;

}

main .profileLogo .logoPlaceholder {
	background-color: rgba(208,207,207,1.00);
	width: 187px;
	
}

main .profilePhoto img {
	margin: 0 auto;
	width: 200px;
	display: block;
}

header > .top {
	position: absolute;
	left: 20px;
}
main .profileHeader h1 {
	font-family: 'Montserrat', sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	
}
main .profileHeader h3 {
	font-family: sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
header > .top a.menu_icon i {
	color: #FCF8F8;
	font-size: 40px;
	padding-top: 5px;
	transition: .2s ease;
}
header > .top a.menu_icon:hover i {
	color: #030000;
}
main .socialNetworkNavBar {
	text-align: center;
	display: block;
	margin-top: 20px;
	clear: both;
}
main .socialNetworkNavBar .socialNetworkNav {
	border-radius: 50%;
	cursor: pointer;
}
main .socialNetworkNavBar .socialNetworkNav img:hover {
	opacity: 0.5;
}

/******************************************
/* NAV STYLES
/*******************************************/

nav.menu {
	width: 200px;
	min-height: calc(100vh - 121px);
	background-color: black;
	position: absolute;
	left: -200px;
	transition: .3s all;
}
nav.menu > a {
    display: block;
    padding: 5px;
    margin: 15px 0 0px 20px;
    font-family: 'Montserrat', sans-serif;
	color: rgba(146,146,146,1.00);
    text-transform: uppercase;
	text-decoration: none;
}

/******************************************
/* MAIN STYLES
/*******************************************/

main {
	width: 100%;
	padding: 30px;
	box-sizing: border-box;
	align-items: center;
}
/* Main Content sections */
.mainContent .section1 {
	display: block;
}
.section1 .sectionTitle, .section2 .sectionTitle {
	font-family: 'Montserrat', sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}
.section1 .sectionTitleRule, .section2 .sectionTitleRule {
	margin: 0 3% 0 0;
	float: left;
	clear: both;
}
.section1 .sectionTitleRule2, .section2 .sectionTitleRule2 {
	background-color: rgba(208,207,207,1.00);
	height: 1px;
	padding: 0px;
}
.mainContent .section1 .section1Content {
	font-family: ProximaNova;
	font-size: 14px;
	font-weight: 100;
	color: rgba(208,207,207,1.00);
}
.mainContent .section1 .section1Content span {
	color: rgba(146,146,146,1.00);
	font-family: sans-serif;
}

/******************************************
/* SECTION STYLES
/*******************************************/

.section2 .sectionContentTitle {
	font-family: sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 25px;
	font-weight: 700;
}
.section2 .sectionContentSubTitle {
	font-family: sans-serif;
	font-weight: 200px;
	font-size: 16px;
	font-weight: 400;
}
.section2 .sectionContent {
	font-family: sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 14px;
	font-weight: 400;
	line-height: 1.8;
}
.mainContent {
	display: block;
}
.mainContent .externalResourcesNav .externalResources {
	background-color: rgba(208,207,207,1.00);
	display: inline-block;
	text-align: center;
	margin-top: 0px;
	padding-top: 3%;
	cursor: pointer;
}
.mainContent .externalResourcesNav .externalResources:hover {
	background-color: rgba(153,153,153,1.00);
}
.externalResourcesNav .externalResources a {
	font-family: 'Montserrat', sans-serif;
	color: rgba(255,255,255,1.00);
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-decoration: none;
}
.stretch {
	content: '';
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 30px;
	font-weight: 700;
	line-height: 24px;
}

h3 {
	font-family: sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}

p {
	font-family: sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
}

footer {
	height: 100px;
	background-color: #494949;
	color: #fff;
	display: flex;
	display: block;
	text-align: center;
	font-family: sans-serif;
}

footer .footerDisclaimer {
	padding-top: 20px;
}

.menu_show {
	left: 0!important;
}

.wrap{position: relative}

.slide{
  background-size:  cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1{background-image: url('../images/Things/thing_mask_1.jpg')}
.slide2{background-image: url('../images/Things/thing_ddc_engine.jpg')}
.slide3{background-image: url('../images/Things/thing_mask_yellow.jpg')}

.slide-content{
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
}

.slide-content span{
  font-size: 80px;
  color: #fff; 
}

.arrow{
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -32px;
  width: 0;
  height: 0;
  border-style: solid; 
}

#arrow-left{
  border-width: 30px 40px 30px 0;
  border-color: transparent #fff transparent transparent;
  left:0;
  margin-left:30px; 
}

#arrow-right{
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent #fff;
  right:0;
  margin-right:30px; 
}

@media screen and (min-width : 440px) {
	header h1 {
		font-size: 30px;
		margin-right: 30px;
		
	}

	.slide-content span{
	  height: 100px;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  text-align: center; 
	  font-size: 20px;
	  color: #fff; 
	}
}

@media screen and (min-width: 680px) {
	
	main .profileHeader h1 {
		font-size: 80px;
		margin-right: 20px;
		text-align: center;
	}
	
	main .profileHeader h3 {
		font-size: 30px;
		margin-right: 20px;
		text-align: center;
	}
	
	p {
		font-size: 20px;
		font-weight: 700;
		line-height: 40px;
	}
	
	nav.menu {
		width: 170px;
		left: -100%; 
	}
	header {
		width: 100%;
		margin: auto 0;
		float: none;
	}
	header .profileLogo .logoPlaceholder {
		display: inline-block;
	}
	header .profilePhoto {
		display: inline-block;
	}
	header .profileHeader {
		text-align: center;
		margin-top: 10%;
	}
	header .profileHeader p {
		text-align: justify;
	}

	main .socialNetworkNavBar .socialNetworkNav {
		width: 30px;
		height: 30px;
		display: inline-block;
		margin-right: 60px;
	}
	
	main .socialNetworkNavBar .socialNetworkNav {
	border-radius: 50%;
	cursor: pointer;
	}
	main .socialNetworkNavBar .socialNetworkNav img:hover {
	opacity: 0.5;
	}
	/* Main content sections */
	main .mainContent .section1 {
		margin-bottom: 10%;
	}
	.section1 .section1Title, .section2 .section1Title {
		text-align: center;
	}
	.section1 .sectionTitleRule, .section2 .sectionTitleRule {
		width: 100%;
	}
	.section1 .sectionTitleRule2, .section2 .sectionTitleRule2 {
		display: none;
	}
	.mainContent .section1 .section1Content {
		display: inline-block;
		font-family: sans-serif;
		text-align: justify;
	}
	.mainContent .section2 {
		display: block;
		text-align: center;
	}
	.section2 .section2Content {
		margin-top: 10%;
		text-align: justify;
		margin-bottom: 10%;
	}
	.mainContent .externalResourcesNav {
		margin-bottom: 10%;
	}
	.mainContent .externalResourcesNav .externalResources {
		width: 100%;
		height: 35px;
	}

	.slide-content span{
	  height: 200px;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  text-align: center; 
	  font-size: 100px;
	  color: #fff; 
	}
	
	footer {
	height: 150px;
	
}

}
